#page4{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

#central-column{
    margin-bottom: 10%;
}

#cv-download-container div{
    text-align: center;
}

#cv-download-container button{
    margin: 0;
}