#left-top{   
    float: left;
    height: 100%;
}

#left-bottom{
    float: left;
    height: 100%;
}

#right-top{
    float: right;
    height: 100%;
}

#right-bottom{
    float: right;
    height: 100%;
}