body{
    height: 100%;
}

.pages{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    padding: 2% 0 13% 0;
    margin: 0 auto;
}

.pagesVar1{
    background: linear-gradient(#A29BFE, #7BEFFF);    position: relative;
}

.pagesVar2{
    background-color: #FFFCF3;
}

.left-column{
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.right-column{
    float: right;
    width: 40%;
    height: 100%;
    display: flex;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center
}