.topic{
    transition: 0.2s;
    width: fit-content;
    padding: 0px 50px;
    margin-top: 10px;
    margin-right: 10px;
}

.topic:hover{
    transition: 0.2s;
    transform: rotate(3deg);
    filter: saturate(1.5);
}